/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
}

section {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

h2 {
    color: #4CAF50;
    font-size: 2em;
    margin-top: 0;
}

.project {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para redes sociales */
#social-media a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 10px;
    transition: color 0.3s ease;
}

#social-media a:hover {
    color: #333;
    text-decoration: underline;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }

    header p, h2, p {
        font-size: 1em;
    }
}
